<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  {{> header}}
  </head>
  <body>
      {{showtext 'Nikhil' }}
      {{showtext welcomeMsg }}

  </body>

{{> footer }}
</html>
